<!-- <form #typeOfForm [formGroup]="formQuizz" (ngSubmit)="onClickSubmit(formQuizz)">
  <div class="form-group">
    <label for="questionOne">Question 1</label>
    <select
      class="form-control"
      #questionOne
      formControlName="questionOne"
      required
    >
      <option
        *ngFor="let question of fiveQuestionQuizz"
        [value]="question.all_answers"
      >
        {{ category.all_answers }}
      </option>
    </select>
  </div>

  <button type="submit" id="submitBtn" class="btn btn-default">Create</button>
</form> -->
pouet
