<br />

<form #typeOfForm [formGroup]="formQuizz" (ngSubmit)="onClickSubmit(formQuizz)">
  <ng-container *ngFor="let question of fiveQuestionQuizz; let index = index">
    <div class="form-group">
      <label for="{{ question.question }}">{{
        question.question | toText
      }}</label>
      <br />

      <input
        matInput
        formControlName="{{ index }}"
        class="visibility: hidden;"
      />
      <ng-container *ngFor="let answer of question.allAnswers">
        <br />
        <button
          type="button"
          (click)="onAnwserClick(answer, index)"
          class="{{ isSelected(answer, index) ? 'select-color' : '' }}"
        >
          {{ answer | toText }}
        </button>
      </ng-container>
    </div>
    <br />
  </ng-container>

  <button
    type="submit"
    id="submitBtn"
    class="btn btn-default"
    *ngIf="formQuizz.valid"
  >
    Submit
  </button>
</form>
