<br />

<form #typeOfForm [formGroup]="formQuiz" (ngSubmit)="onClickSubmit(formQuiz)">
  <ng-container *ngFor="let question of fiveQuestionQuiz; let index = index">
      <label for="{{ question.question }}">{{
        question.question | toText
      }}</label>
      <br />

      <input formControlName="{{ index }}" style="visibility: hidden;" />
      <ng-container *ngFor="let answer of question.allAnswers">
        <br />
        <button
          type="button"
          (click)="onAnwserClick(answer, index)"
          class="{{
            isSelected(answer, index) ? 'select-color' : ''
          }} hover-color"
        >
          {{ answer | toText }}
        </button>
      </ng-container>
    <br />
  </ng-container>

  <button type="submit" id="submitBtn" *ngIf="formQuiz.valid">Submit</button>
</form>
