<div class="form-group" *ngIf="categories$ | async as categories">
  <label for="categorySelect">Select Category</label>
  <select class="form-control" #categorySelect required>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>
</div>

<div class="form-group">
  <label for="difficultySelect">Select Category</label>
  <select class="form-control" id="difficultySelect" required>
    <option *ngFor="let difficulty of difficultyLevels" [value]="difficulty">
      {{ difficulty }}
    </option>
  </select>
</div>

<button
  type="button"
  id="createBtn"
  class="btn btn-default"
  (click)="onClick()"
>
  Create
</button>
