<form
  #typeOfForm
  [formGroup]="form"
  *ngIf="categories$ | async as categories"
  (ngSubmit)="
    onClickSubmit(form.get('category')?.value, form.get('difficulty')?.value)
  "
>
  <div class="form-group">
    <label for="categorySelect">Select Category</label>
    <br />
    <select
      class="form-control"
      #categorySelect
      formControlName="category"
      required
    >
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name | toText }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="difficultySelect">Select Difficulty</label>
    <br />
    <select
      class="form-control"
      #difficultySelect
      formControlName="difficulty"
      required
    >
      <option *ngFor="let difficulty of difficultyLevels" [value]="difficulty">
        {{ difficulty }}
      </option>
    </select>
  </div>
  <br />
  <button
    type="submit"
    #createBtn
    [disabled]="!form.valid"
    class="btn btn-default"
  >
    Create
  </button>
</form>

<app-five-questions-quizz
  *ngIf="fiveQuestionQuizz.length"
  [fiveQuestionQuizz]="fiveQuestionQuizz"
></app-five-questions-quizz>
