<form
  #typeOfForm
  [formGroup]="form"
  (ngSubmit)="
    onClickSubmit(form.get('category')?.value, form.get('difficulty')?.value)
  "
>
  <div class="form-group" *ngIf="categories$ | async as categories">
    <label for="categorySelect">Select Category</label>
    <select
      class="form-control"
      #categorySelect
      formControlName="category"
      required
    >
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="difficultySelect">Select Difficulty</label>
    <select
      class="form-control"
      id="difficultySelect"
      formControlName="difficulty"
      required
    >
      <option *ngFor="let difficulty of difficultyLevels" [value]="difficulty">
        {{ difficulty }}
      </option>
    </select>
  </div>

  <button type="submit" id="createBtn" class="btn btn-default">Create</button>
</form>
